::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: rgb(38, 109, 185);
	border-radius: 50px;
	}
::-webkit-scrollbar-thumb:hover {
	background: #ffcc00;
	}

::-webkit-scrollbar-track {
	background: rgb(243, 243, 243);
	border-radius: 50px;
	}
/*GENERAL-----------------------------------------*/
*{
	border: 0;
	margin: 0;
	padding: 0;
	color: inherit;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	outline: none;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}
.btn-circulo{
    background-color: #ED5564;
    color: white;
    padding: 12px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 7px;
}

input{
 color: #474747;
}
/*------------------------*/
body{
	font-family: 'Montserrat', sans-serif;
	color: #474747;
}
main{
	height: calc(100vh - 50px);
}
header{
  background-color: #266DB9;
  height: 50px;
}
header img{
  background-color: #266DB9;
  height: 50px;
  position: absolute;
}
.container-login{
	flex-direction:column;
	max-width: 460px;
	width: 100%;
	height: 516px;
	color: whitesmoke;
	background: linear-gradient(45deg, #192046, #53af9e8f);
}
.container-login img{
    width: 150px;
    height: auto;
}
.cont-inputs{
    width: 80%;
    max-width: 335px;
}
.class-label{
    font-size: 16px;
    margin: 25px 0 5px;
    display: block;
}
.class-input{
    width: 100%;
    height: 45px;
    background-color: whitesmoke;
}
.btn-submit{
    width: 80%;
    max-width: 280px;
    background-color: #3897F0;
    font-weight: bold;
    margin-top: 45px;
    height: 50px;
}
.class-ahref{
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    display: block;
    margin-top: 12px;
}
.font-weight{
    font-weight: bold;
    color: #ffcb05;
}
.class-center{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.pokedex{
    display: none;
    background-image: url(img/fondo-pokemon.svg);
    background-size: cover;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    justify-content: space-evenly;
    padding: 30px 0;
}
.content-pokemones{
    width: 15%;
    min-width: 110px;
    max-width: 170px;
    flex-direction: column;
    position: relative;
    margin: 20px 10px;
}
.por-atrapar img{
	filter: grayscale(1);
	}
.por-atrapar .cant-multipliers {
	display:none;
}

.soloMisPokemones .por-atrapar {
        display: none;
}

.cant-multipliers{
    background-image: url(./img/icon-multipliers.png);
    background-repeat: no-repeat;
    width: 36px;
    background-size: 35px;
    text-align: center;
    padding: 2px 2px 11px;
    position: absolute;
    top: -10px;
    right: 25px;
    z-index: 1;
}
.icon-pokeball{
	
width: 15px;
}
.img-pokemon{
    width: 100%;
    height: auto;
}
.contenido-poke{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre-pokemon{
    margin: 4px 0px 4px;
    font-size: 16px;
    text-align: center;
}
.num-pokemon{
    margin-bottom: 8px;
}
.cont-tipo{
    display: flex;
    width: max-content;
}
.cont-tipo img{
    width: 20px;
    margin: 0 4px;
}
.navbar{
    position: fixed;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 24px 0;
    flex-wrap: wrap;
    display: none;
}
.navbar:after{
    content:"";
    background-color: #5b4f4f6e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: blur(30px);
}
.cont-filtros{
    min-width: 320px;
}
.cont-filtros label{}
.selectores{
	background-color: white;
	width: fit-content;
	border-radius: 26px;
	overflow: hidden;
	text-align: center;
	}
.filtro{
    padding: 13px 0px;
    width: 30%;
}
/* filter: blur(8px); */
.navbar .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 18px; */
    border-radius: 26px;
    /* flex-grow: 1; */
    width: 16%;
    max-width: 150px;
}
.btn img{
	height: 22px;
	margin-left: 7px;
}
.flex{
  display:flex !important;
}
.none{
  display:none !important;
}
@media (min-width: 801px) {
	
  .classImageLogin{
    width: 221.15px;
  }
  .classCenter{
  	width: 280px;
  	height: 22px;
  }
  .content-pokemones{
    min-width: 130px;
    margin: 25px 14px;
}
  .nombre-pokemon {
    font-size: 18px;
}
  
}