::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 109, 185);
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffcc00;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
    border-radius: 50px;
  }
  /*GENERAL-----------------------------------------*/
  *{
    border: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
  }
  .display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn{
    border-radius: 35px;
    cursor: pointer;
    padding: 12px 17px;
  }
  .btn-circulo{
    background-color: #ED5564;
    color: white;
    padding: 12px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 7px;
    display: none;
  }
  /*------------------------*/
  body{
    font-family: 'Montserrat', sans-serif;
    color: #474747;
  }
  main{
    height: calc(100vh - 88px);
  }
  header{
    background-color: #266DB9;
    height: 50px;
  }
  header img{
    height: 68px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 3;
  }
  /* Form */
  .container-login{
    flex-direction:column;
    max-width: 460px;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background: linear-gradient(45deg, #192046, #53af9e8f);
  }
  .container-login img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  .cont-inputs{
    width: 80%;
    max-width: 335px;
    position: relative;
  }
  .class-label{
    margin: 25px 0 5px;
    display: block;
    padding-left: 12px;
  }
  .class-input{
    font-size: 15px;
    width: 100%;
    height: 45px;
    background-color: whitesmoke;
    color: #444444;
    padding: 12px 18px;
    border-radius: 20px;
  }
  .icon-clave{
    background-image: url(img/icon-mostrar.png);
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 5.5%;
    bottom: 41px;
    cursor: pointer;
  }
  .cont-acceso.click .icon-clave{
    opacity: 0.8;
  }
  .icon-clave.mostrar{
    background-image: url(img/icon-ocultar.png);
  }
  .btn-submit{
    width: 80%;
    max-width: 280px;
    background-color: #3897F0;
    font-weight: bold;
    margin: 18px 0 10px;
  }
  .class-ahref{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    display: block;
    margin-top: 10px;
    padding-right: 8px;
  }
  .call-action-resgistrar{
    font-weight: bold;
    color: #ffcb05;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }
  .mensaje-alerta{
    color: #ffcc00;
    font-size: 13px;
    margin-top: 20px;
    height: 15px;
    text-align: center;
    max-width: 80%;
  }
  /* Form Fin*/
  footer{
    background-color: #266db9;
    text-align: center;
    color: #ffffff;
    padding: 8px 0;
    font-size: 13px;
  }
  
  footer img{
    width: 20px;
    margin: 0 6px;
  }
  /* Footer Fin */
  .pokedex{
    display: none;
    background-image: url(img/fondo-pokemon.svg);
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: space-evenly;
    padding: 30px 0;
    z-index: 0;
  }
  .show-elements .img-header, .show-elements .btn-header {
    display: initial;
  }
  .content-pokemones{
    width: 20%;
    min-width: 110px;
    max-width: 170px;
    flex-direction: column;
    position: relative;
    margin: 20px 10px;
    border-radius: 20px;
    padding: 20px;
    transition: .5s;
    z-index: -1;
  }
  .content-pokemones:hover{
    background-color: #ffffff0a;
    border: 1px solid #ffffffc2;
    transform: scale(1.2);
    z-index: 2;
  }
  .por-atrapar img{
    filter: grayscale(1);
  }
  .cant-multipliers{
    background-image: url(./img/icon-multipliers.png);
    background-repeat: no-repeat;
    width: 36px;
    background-size: 35px;
    text-align: center;
    padding: 2px 2px 11px;
    position: absolute;
    top: -10px;
    right: 25px;
    z-index: 1;
  }
  .por-atrapar .cant-multipliers{
    display:none;
  }
  .icon-pokeball{
    width: 15px;
  }
  .img-pokemon{
    width: 100%;
    height: auto;
  }
  .contenido-poke{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nombre-pokemon{
    margin: 4px 0px 4px;
    font-size: 16px;
    text-align: center;
  }
  .num-pokemon{
    margin-bottom: 8px;
  }
  .cont-tipo{
    display: flex;
    width: max-content;
  }
  .cont-tipo img{
    width: 20px;
    margin: 0 4px;
  }
  .btn-more{
    background-image: url(img/icon-pokeball.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -14px;
    padding: 0;
    border: 4px solid #266db9;
    opacity: 0;
    transition: .5s;
  }
  .content-pokemones:hover .btn-more{
    opacity: 1;
  }
  .navbar{
    position: relative;
    flex-direction: column;
    z-index: 2;
    height: calc(100vh - 88px);
    display: none;
    background-color: #5692d1;
    width: 240px;
    float: left;
    margin-left: -240px;
    transition: 0.5s;
  }
  .navbar-show{
      margin-left: 0;
  }
  .btn-menu{width: 39px;height: 40px;position: absolute;top: 50px;right: -39px;border-radius: 0px 14px 14px 0;z-index: 5;background-color: #5692d1;cursor: pointer;}
  .line-menu{display: block;background-color: #ffcc00;width: 23px;height: 4px;margin-left: 8px;border-radius: 25px;transition: .5s;}
  .line-menu:nth-child(2){margin-top: 5px;}
  .line-menu:nth-child(3){margin-top: 5px;}
  .btn-menu-activo .line-menu:nth-child(1){transform: rotate(45deg);}
  .btn-menu-activo .line-menu:nth-child(2){width: 0;}
  .btn-menu-activo .line-menu:nth-child(3){transform: rotate(-45deg);margin-top: -13px;}
  
  .navbar label{
    font-size: 13px;
    margin-bottom: 6px;
    color: #e3e3e3;
    }
  .filtro{margin-bottom: 9px;font-size: 13px;/* border: 1px solid #c6c6c6; */padding: 10px;border-radius: 20px;width: 150px;color: #dbdfe2;background-color: #266db9;}
  .navbar .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc00;
  }
  .btn img {
    height: 22px;
    margin-left: 7px;
  }
  .separador{
      width: 100px;
      border: 1px solid #72a4d8;
      margin: 10px 0 15px;
  }
  .flex {
    display:flex !important;
  }
  .none {
    display:none !important;
  }
  @media (min-width: 801px) {
  .container-login{
    
  height: 540px;
  }
  .container-login img {
    width: 200px;
  }
  .classCenter {
    width: 280px;
    height: 22px;
  }
  .content-pokemones {
    min-width: 130px;
    margin: 25px 14px;
  }
  .nombre-pokemon {
    font-size: 18px;
  }
  }